
---

# Used to pull images from registry.redhat.io
- name: Expose vars
  include_vars: "{{ role_path }}/../imagestream_pull_secret/defaults/main.yml"
- include_role:
    name: imagestream_pull_secret
  vars:
    namespace: "{{ fuse_namespace }}"
    product_ns_pull_secret_name: "{{ fuse_pull_secret_name }}"

# verify manually the operator handles it other wise we will need this 
- include_role:
    name: fuse
    tasks_from: _upgrade_fuse_online_imagestreams

# patches syndesis operator to remove args passed in previous install
- name: TODO-THIS-IS-ONLY-NEEDED-ON-UPGRADES-FROM-FUSE-1.7-INSTALLS
  shell: oc patch dc/syndesis-operator -p='{"spec":{"template":{"spec":{"containers":[{"name":"syndesis-operator","args":[]}]}}}}}' -n {{ fuse_namespace }}

- name: Download fuse binary
  get_url:
    url: https://github.com/jboss-fuse/fuse-clients/releases/download/{{ fuse_online_release_tag }}/syndesis-{{ fuse_online_release_tag }}-linux-64bit.tar.gz
    dest: /tmp/fuse-binary-archive

- name: Create directory for extraction
  file:
    path: /tmp/fuse-binary
    state: directory

- name: Extract fuse binary
  unarchive:
    src: /tmp/fuse-binary-archive
    dest: /tmp/fuse-binary

- template:
    src: syndesis-customresource.yml.j2
    dest: /tmp/syndesis-customresource.yml

- name: Update Syndesis custom resource in {{ fuse_namespace }}
  shell: oc apply -f /tmp/syndesis-customresource.yml -n {{ fuse_namespace }}

- name: Run operator install
  shell: "/tmp/fuse-binary/syndesis-operator install operator --namespace {{ fuse_namespace }}"

- name: Remove Komodo-Server DC
  shell: oc delete dc komodo-server --namespace {{ fuse_namespace }}